/*applies to everyting on the body*/
body {
    background-color:rgba(201, 201, 201, 0.836);
    background: url(background1.jpg)no-repeat center center fixed;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size:cover;
    background-repeat: no-repeat;
}
*{ /*no more highlighting because its annoying*/
    user-select: none;
}


/*header styles*/
header {
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: black;
    color: white;
    z-index: 1000; 
    border-bottom: 3px solid rgb(207, 4, 4);
    box-shadow: 0px 0px 10px rgb(207, 4, 4);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.me {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 36px;
    background-image:url(doggos.jpg);
    background-size: cover;
    background-position:center center ;
    background-position-y: -160px;
    padding: 160px 0 140px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
/* navigation buttons*/


.button{
    background-color:rgba(88, 87, 87, 0.4);
    color:white;
    border-radius:5px;
    padding:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease ;
    width:100px;
 border:none;
}
.button:hover{
    background-color:rgba(1, 83, 150, 0.786); 
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease ;
    transform:scale(1.1);  
}
/*Search bar styles*/
.search-bar {
    left:40%;
    flex: 1;
    position:absolute;
}

.searchbox {
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius:4px;
    margin-bottom:3px;
    width: 250px;
    box-sizing: border-box;
    transition: transform 0.3s ease ;
    border:none;
}
.searchbox:hover{
    transition: transform 0.3s ease ;
    transform:scale(1.01);  
}

/*Right navigation bar buttons*/
.right-menu ul {
    list-style: none;
    display: flex;
   margin-top:0;
   margin-bottom:0;
    margin-right:10px;
    padding: 0;
}

.right-menu li {
    margin-left:5px;
    margin-bottom:3px;
    transition: transform 0.3s ease ;
}
.right-menu li:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease ;
}
.right-menu a {
    text-decoration: none;
    color: white;
    font-family:sans-serif;
   background-color:rgba(88, 87, 87, 0.4);
   padding:12px;
  
    
    
    
}
.right-menu a:hover{
    background-color: rgba(1, 83, 150, 0.786);
   
}
/*left drop down menu*/
.left-menu {
    position: relative;
    z-index: 1;
}

.menu-button {/**/
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease
}
.menu-button:hover{
    transition: transform 0.3s ease ;
    transform:scale(1.1);
   
}
.dropdown-content {
    display: none;
    position: absolute;
    background: url('white-paper-textured-background-simple-style_53876-145183.avif') cover;
    backdrop-filter:blur(10px);
    min-width: 200px;
    z-index: 2;
    font-family:sans-serif;
    padding-bottom:10px;
    margin-top:12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(207, 4, 4);
    box-shadow: 0px 0px 10px rgb(207, 4, 4);
}

.dropdown-content a {
    
    text-decoration: none;
    display: block;
    color:rgb(91, 91, 240);
}
.dropdown-content h2{
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-left:10px;
    padding-right:10px;
    border-bottom:solid 1px #333;
    padding-bottom:5px;
    letter-spacing: 4px; 
    margin-bottom: 20px; 
    margin-top:-7px;
}

.dropdown-content a:hover {
    background-color:rgb(91, 91, 240);;
        color:white;
}

.rmn{
    display:none;
}
.left-menu.active .dropdown-content {
    display: block;
}
.Menu_List{
    list-style-type: none;
    padding:5px;
}
.radio-container{
    color:rgb(255, 255, 255);
}
#sign-out-button{
    margin-top:10px;
    margin-left:20px;
    max-width:200px;
    align-items:center;
    width:70%;
    font-weight:bold;
    color:white;
    border:3px solid rgb(2, 69, 131);
    padding:5px;
    background-color:rgb(104, 170, 245);
    border-radius:7px;
}
#sign-out-button:hover{
    background-color:rgb(161, 161, 161);
    cursor:pointer;
}
.menu-icon{
    color:white;
    padding:0;
    rotate:90deg;
    margin-left:5px;
    font-size:20px;
    margin-bottom:0;
    margin-top:0;
}

/*light-dark switch*/
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    cursor: pointer;
}


.radio-container input {
    display: none;
}


.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: #000000;
    border: 2px solid #333;
    border-radius: 50%;
}


.radio-container input:checked + .radio-checkmark {
    background-color: #ffffff;
    border-color: #000000;
}


.radio-container input:checked + .radio-checkmark:after {
    display: block;
}
/*Light Mode*/
.Lightmode{
    background-color:white;
    color: #333;
    box-shadow: 0px 0px 10px rgba(215, 252, 200, 0.1);
}
.Lightmode h3{
    color:#333;
}
.Lightmode h2{
    color:#333;
}
.Lightmodehr{
    background-color:black;
}
.Lightcommentz{
   
    border:black;
}
.Lightcommentz h2{
    color: #333;
    background-color:#ccc;
}

/*Dark Mode*/
.Darkmode{
    background-color:rgb(53, 53, 53);
    color:white;
    border: 2px solid rgb(207, 4, 4);
    box-shadow: 0px 0px 10px rgb(207, 4, 4);
}
.Darkmode h2{
    color:white;
}
.Darkmode h3{
    color:white;
}
.Darkmodehr{
    background-color:rgb(216, 216, 216);
}
.Darkcommentz{
border:white;

}
.Darkcommentz h2{
    color:white;
    background-color:#252525;
}


/*about section */
body::-webkit-scrollbar {/*Removing scroll bar from body makes the design better*/
   display:none;
}

/*Image from the first box on the page*/
.image {
    float: left;
    max-width: 300px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.705);
    background-color: #33333328;
    margin-top:8px;
}

.imagecombo {
    font-size: 2REM;
    border-radius: 5px;
    text-align: center;
    margin-top:-1px;
    margin-bottom:-3px;
    padding-top:3px;
    text-transform: uppercase;
    letter-spacing:2px;
    font-size: 2rem;
    color: #333;
}

.text-container {
    margin-left: 320px; 
    overflow: hidden; 
}


.Aboutme-1 h1{
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top:-1px;
    text-transform: uppercase;
    letter-spacing:2px;
    text-align:center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425);
}
.Aboutme-1 {
    background: url('white-paper-textured-background-simple-style_53876-145183.avif') cover;
    padding: 20px;
    padding-bottom:20px;
    margin: 20px auto;
    max-width: 1050px;
    border-radius: 5px;
    align-content:center;
    backdrop-filter: blur(20px);
}
.about-content {
    line-height:1.6; 
    font-size:18px;
    border: 1px solid rgba(0, 0, 0, 0.1); ;
     border-radius:7px;
     background-color:#9fa1a144; 
     padding: 10px 20px;
     box-shadow:0px 0px 10px rgba(0, 0, 0, 0.548);
  
 }
.hr1{
    color:black;
    width:45%;
    height:4px;
    border:black;
    margin-top:-10px;

}
/*Second box on the page*/
.Aboutme-2 h2{
    text-align:center;
    text-transform: uppercase;
    letter-spacing:2px;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425);
}

.hr2{
    color:rgb(0, 0, 0);
    width:40%;
    height:4px;
    border:black;
    margin-top:-19px;

}
.Aboutme-2 {
  
    padding: 20px;
    margin: 20px auto;
    font-size:1.2rem;
    line-height:25px;
    max-width: 1050px;
    font-weight:bold;
    border-radius: 5px;
    align-content:center;
    
}

/*Third box on the page*/
.Aboutme-3 h2{
    text-align:center;
    text-transform: uppercase;
    letter-spacing:2px;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425);
}
.hr3{
    color:black;
    width:30%;
    height:4px;
    border:black;
    margin-top:-19px;

}
.Aboutme-3 {
  
    padding: 20px;
    margin: 20px auto;
    max-width: 1050px;
    border-radius: 5px;
    align-content:center;
    
}
.am3p, .am4p{
    font-weight:bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1.2rem;
    line-height:25px;
    
}
.am4p{
    display:none;
}
.text-container3{
    border: 1px solid rgba(0, 0, 0, 0.1); ;
    border-radius:7px;
    background-color:#b1b1b156; 
    padding:20px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.548);
}
/*update log*/
.update-log{
    float: left;
    border:1px solid black;
    text-align:center;
   width: 30%;
   margin-right:10px;
   margin-top:20px;
   box-shadow:0px 0px 10px rgba(0, 0, 0, 0.548);
}
.updates{
    max-height: 320px; 
    overflow-y: auto;
}
.update-log h3{
    background-color:rgb(180, 180, 180);
    padding-top:20px;
    padding-bottom:20px;
    border-top-left-radius:1px;
    border-top-right-radius:1px;
    border-bottom:1px solid black;
    text-transform: uppercase;
    letter-spacing:2px;
    font-size: 1.3rem;
    color: #000000;
    margin: 0px auto;
}
.update-1{
    background-color:white;
    margin-top:0px;
    padding-top:6px;
    cursor:pointer;
    user-select: none;
    color:black;
}
.update-2{
    background-color:rgb(202, 201, 201);
    margin-top:0px;
    padding-top:6px;
    cursor:pointer;
    color:black;
}

.up-P {
    font-size: 15px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:0px;
    padding-bottom:20px;
    text-align:left;
    background-color:rgb(235, 235, 235);
    padding-left:10px;
    padding-top:10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
div.update-1 details.det1 summary {
    list-style-type: none;
  }
  div.update-2 details.det1 summary {
    list-style-type: none;
}

/*update log scroll bar*/
.updates::-webkit-scrollbar {
    width: 8px;
    height:20px;
}

.updates::-webkit-scrollbar-thumb {
    background: #888;
    padding-left:1px;

}


.updates::-webkit-scrollbar-track {
    background: #ffffff85;
    
}
/*updates end*/
/*Box 4 on the page*/
.Aboutme-4 {
    
    padding: 20px;
    margin: 20px auto;
    max-width: 1050px;

    border-radius: 5px;
    align-content:center;
    
}

.whoami{
    border: 1px solid rgba(0, 0, 0, 0.1); ;
    border-radius:7px;
    background-color:#b1b1b156; 
    padding:20px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.548);
}
/* comments */
#comment-input {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  width:96%;
  margin-top:5px;
}
#Name{
background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom:5px;
  width:98%;
  margin-top:5px;
}
.comment-container {
    border: 1px solid #7c7c7c;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #cccccc5d;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.comment-container .welcome-message {
    font-weight: bold;
}
.commentz h2{
    margin-top:-10px;
    margin-bottom:0;
    padding-bottom:10px;
    border-bottom:1px solid #333;
    padding-top:8px;
    margin-left:-10px;
    margin-right:-10px;
    border-top:1px solid #333;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:1.5px;
}
.h3{
   margin-bottom:0px;
   margin-left:8px;
    
}
.delete-button{
    background-color: #5a5a5a;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
   
}
.delete-button:hover{
background-color:#007bff;
}


.commentz{
    border:1px solid;
    padding:10px;
    border-radius:5px;
    background-color:#b1b1b156; 
}
.comment{
    background-color:#cccccc;
    padding-left: 20px;
    padding-bottom:2px;
    padding-top:10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.comment p{
    background-color:rgb(240, 238, 238);
    color:black;
    margin-right:20px;
    padding:10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.308);
    border-radius:5px;
}
.name{
  color:rgb(63, 63, 63);  
  font-weight:bold;
}
.timestamp{
    color:black;
}
.comment-list{
    margin-top:10px;
    max-height: 500px; 
    overflow-y: auto;
}
.comment-list::-webkit-scrollbar{
    width:8px;
    height:10px;
}
.comment-list::-webkit-scrollbar-thumb {
    background: #888;
    padding-left:1px;

}


.comment-list::-webkit-scrollbar-track {
    background: hsl(0, 0%, 47%);
    
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#comment-button:hover {
    
    background-color: #5a5a5a;
}
#comment-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -30px;
  margin-bottom:20px;
}

/*footer section*/
footer{
    color: white;
    background-color:rgb(31, 31, 31);
    margin-top:0;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    border-top:2px solid red;
    box-shadow: 0px 0px 10px rgb(207, 4, 4);
   
}
.footer{
    display:flex;
    flex-direction: row-reverse;
}
.pfoot{
    flex:2;
    margin-top:4%;
    margin-left:10px;
    margin-right:10px;
}
.footlank a{
    padding:4px;
    background-color: rgb(78, 76, 76);
    border-radius: 5px;   
    font-size:20px;
    color:white;
    text-decoration: none;
    box-shadow: 0px 0px 4px rgb(88, 88, 88);
}
.footlank a:hover{
    background-color:rgba(1, 83, 150, 0.786);
}
.footlank li{
    margin-bottom:12px;
    text-align: left;
    list-style-type: none;
}

.footnav:hover{
    background-color:rgba(57, 57, 57, 0.8);
    transition: background-color 0.3s ease;
}
.foothr{
    border:2px solid white;
    margin-left:50px;
}


/* Responsive Design(work in progress) */
@media screen and (max-width: 768px) {/*Mobile devices*/
    header {
        padding: 10px 0;
    }

    .header-title {
        font-size: 24px;
    }
    .me {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 20px;
        background-size: cover;
        background-position:center center ;
        padding: 160px 0 140px 0;
    }
    /*Bodycontent*/
    #comment-input {
        width:284px;
    }
    #Name{
        width:300px;
}
    .image{
        display:none;
        
    }
    .text-container{
        margin-left:auto;
    }
    .button {
        display:none;
    }

    /* Search bar styles */
    .search-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .searchbox {
        margin-left:-32px;
        width: 120%;
    }

    

    /* Right navigation bar buttons */
    .right-menu li {
        display:none;
    }

    .rmn{
        display:block;
    }

    .right-menu a { 
        display:none;
    }
/*Updates*/
.text-container3{/*Smaller Screen Sizes(tablets/ small laptops)*/
    display:grid;
 grid-template-rows:auto auto;
 }
 .update-log{
   text-align:center;
   width: 100%;
   margin-right:10px;
   margin-top:20px;
  grid-row:2;
}

.am3p{
    display:none;
}
.am4p{
    display:grid;
}
 
    
}
@media screen and (max-width: 1100px) {
    header {
        padding: 10px 0;
    }

    .header-title {
        font-size: 24px;
    }
    .me {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 20px;
        background-size: cover;
        background-position:center center ;
        padding: 160px 0 140px 0;
    }
    /*Bodycontent*/
    .image{
        margin-right:5px;
        
    }
    .rmn{
        display:block;
    }
    .text-container{
        margin-left:auto;
    }
    .button {
        background-color: black;
        color: white;
        border-radius: 5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        transition: background-color 0.3s ease, transform 0.3s ease; /* Combine transitions */
    }

    .button:hover {
        background-color: rgba(1, 83, 150, 0.786);
        transform: scale(1.1);
    }

   
   

    

    /* Right navigation bar buttons */
    .right-menu li {
        display:none;
    }

    

    .right-menu a { 
        display:none;
    }

 
 
}

